/.vs
/src/CSharp.DDD.Data/obj
/src/CSharp.DDD.Data/bin
/src/CSharp.DDD.Domain/obj
/src/CSharp.DDD.Domain/bin
/src/CSharp.DDD.Console/obj
/src/CSharp.DDD.Console/bin
/src/CSharp.DDD.Core/obj
/src/CSharp.DDD.Core/bin